@import '../../styles/colors', '../../styles/mixins';

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.button {

    &__prev,
    &__next {
        position: absolute;
        top: 218px;
        width: 40px;
        height: 40px;
        z-index: 10;
        cursor: pointer;
        background-size: 22px 40px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__prev {
        @include IconLight(23px);
        left: 7px;
        right: auto;
        background-image: url('../../assets/images/icons/left.svg');
    }

    &__next {
        @include IconLight(23px);
        right: 7px;
        left: auto;
        background-image: url('../../assets/images/icons/right.svg');

    }
}

@mixin SlideImage ($url) {
    background-image: url($url);
    background-size: contain;
    background-repeat: no-repeat;
    height: 390px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-left: 63px;
    padding-right: 37px;
    position: relative;
    transition-property: transform;
    margin-bottom: 88px;

    &__textContainer {
        text-align: center;
        margin-bottom: 30px;
    }

    &__text {
        @include Title-2-SemiBold;

        &_main {
            color: $color-secondary-main;
        }

        &_secondary {
            color: $color-secondary-light;
        }
    }

    &__image {
        &_1 {
            @include SlideImage('../../assets/images/slide1.svg')
        }

        &_2 {
            @include SlideImage('../../assets/images/slide2.svg')
        }

        &_3 {
            @include SlideImage('../../assets/images/slide3.svg')
        }
    }

}





.pagination {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    z-index: 10;
    height: 10px;
    bottom: 0px;
    text-align: center;

    &__bullet {
        width: 10px;
        height: 10px;
        background-color: $color-secondary-light;
        margin: 0 10px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        border-radius: 100%;

        &_active {
            background-color: $color-secondary-main;
        }

    }
}