@import '../../styles/colors', '../../styles/mixins';

.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    @include mobile-sm {
        flex-direction: column;
        width: 100%;
    }
    &__formContentLogo {
        @include mobile-show();
    }
    &__imagesBlock {
        background-color: $color-background-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        @include mobile-hide();
    }
    &__logo {
        margin-top: 34px;
        margin-bottom: 174px;
    }
    &__formBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__formContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        @include mobile-sm {
            width: 100%;
            padding: 20px;
        }
        & h1 {
            @include Title-1-SemiBold;
            color: $color-secondary-main;
            margin-bottom: 35px;
        }
    }
    &__formWrapper {
        display: flex;
        align-items: center;
        height: 100%;
        min-width: 320px;
        @include mobile-xs {
            width: 100%;
            min-width: 0;
        }
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__emailInput {
        margin-bottom: 20px;
        & input {
            background-color: $color-background-light!important;
        }
    }
    &__passwordInput {
        margin-bottom: 50px;
    }
}

.footer {
    @include mobile-sm {
        text-align: center;
    }
}