@import '../../styles/colors', '../../styles/mixins';

.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    &__imagesBlock {
        background-color: $color-background-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100vh;
    }
    &__logo {
        margin-top: 34px;
        margin-bottom: 174px;
    }
    &__form {
        width: 320px;
        margin-top: 230px;
        margin-right: 200px;
        display: flex;
        flex-direction: column;
        & h1 {
            @include Title-1-SemiBold;
            color: $color-secondary-main;
            margin-bottom: 35px;
        }
    }
    &__emailInput {
        margin-bottom: 20px;
        & input {
            background-color: $color-background-light!important;
        }
    }
    &__passwordInput {
        margin-bottom: 50px;
    }
}