$color-gray-1: #333;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #BDBDBD;
$color-gray-5: #E0E0E0;
$color-gray-6: #F2F2F2;

$color-white: #FFF;
$color-background-light: #F8FCFF;

$color-primary-main: #0A3268;
$color-primary-light: #647AA3;

$color-secondary-main: #2F80ED;
$color-secondary-light: #91AED4;

$color-success-dark: #3FAF52;
$color-success-main: #86CB92;
$color-success-light: #D7F3D2;

$color-error-dark: #D24E7F;
$color-error-main: #E08DAC;
$color-error-light: #FFE5EF;

$color-warning-dark: #E0A50E;
$color-warning-main: #FFBA08;
$color-warning-light: #FFF3DD;