body {
   font-family: 'Montserrat', sans-serif;
}

@mixin fontSetting ($weight, $size, $height) {
   font-weight: $weight;
   font-size: $size;
   line-height: $height;
}

h1 { @include fontSetting(600, 24px, 49px) }
h2 { @include fontSetting(600, 20px, 24px) }

.body1 { @include fontSetting(600, 18px, 22px); }
.body2 { @include fontSetting(400, 18px, 20px); }
.body3 { @include fontSetting(400, 14px, 20px); }