$xs: 575.98px;
$sm: 991.98px;
$md: 1199.98px;

@mixin mobile-hide {
  @media (max-width: $sm) {
    display: none;
  }
}

@mixin mobile-show($display: block) {
  display: none;
  @media (max-width: $sm) {
    display: $display;
  }
}

@mixin mobile-md {
  @media (max-width: $md) {
    @content
  }
}

@mixin mobile-sm {
  @media (max-width: $sm) {
    @content
  }
}
@mixin mobile-xs {
  @media (max-width: $xs) {
    @content
  }
}
