@import './colors', './media';

// Fonts
@mixin Title-1-SemiBold {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
}
@mixin Title-2-SemiBold {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}
@mixin Subtitle-1-Regular {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}
@mixin Subtitle-1-SemiBold {
   @include Subtitle-1-Regular;
   font-weight: 500;
}
@mixin Text-Regular {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
}
@mixin Text-Bold {
   @include Text-Regular;
   font-weight: 600;
}
@mixin Caption-1-Regular {
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
}
@mixin Caption-1-SemiBold {
   @include Caption-1-Regular;
   font-weight: 500;
}

// limit the number of lines
@mixin limitTheNumberOfLines ($NumberOfLines) {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -moz-box;
   -moz-box-orient: vertical;
   display: -webkit-box;
   -webkit-line-clamp: $NumberOfLines;
   -webkit-box-orient: vertical;
   line-clamp: $NumberOfLines;
   box-orient: vertical;
}
@mixin limitTheNumberOfLinesTo-1 {
   @include limitTheNumberOfLines(1)
}
@mixin limitTheNumberOfLinesTo-2 {
   @include limitTheNumberOfLines(2)
}
@mixin limitTheNumberOfLinesTo-3 {
   @include limitTheNumberOfLines(3)
}

// Shadows for cards, forms, buttons 
@mixin LightShadow {
   box-shadow: 1px 1px 10px change-color($color-secondary-light, $alpha: 0.15);
}
@mixin BaseShadow {
   box-shadow: 2px 2px 10px change-color($color-secondary-light, $alpha: 0.2);
}
@mixin BaseShadowHover {
   box-shadow: 2px 2px 5px change-color($color-secondary-light, $alpha: 0.35);
}
@mixin ButtonShadow {
   box-shadow: 1px 4px 20px change-color($color-secondary-main, $alpha: 0.4);
}
@mixin IconShadow {
   -webkit-filter: drop-shadow( 1px 4px 20px change-color($color-secondary-main, $alpha: 0.6));
   filter: drop-shadow( 1px 4px 20px change-color($color-secondary-main, $alpha: 0.6));
   opacity: 1;
}

// Icons
@mixin Icon ($size){
   width: $size;
   background: transparent;
   cursor: pointer;   
}
@mixin IconBright ($size) {
   @include Icon($size);
   fill: $color-secondary-main;
}
@mixin IconLight ($size) {
   @include Icon($size);
   fill: $color-secondary-light;
   opacity: 0.7;
   &:hover {
      fill: $color-secondary-main;
      opacity: 1;
   }
}
@mixin IconActive {
   background-color: transparent;
   fill: $color-secondary-main;
   @include IconShadow;
}

// Inputs
@mixin FormInput {
   max-height: 50px;
   padding: 14px 20px;
   background: $color-white;
   border-radius: 10px;
   border: 1px solid $color-secondary-light;
   @include Text-Regular;
   color: $color-primary-main;
   &:focus {
      outline: none;
      border: 1px solid $color-secondary-main;
      caret-color: $color-secondary-main;
   }
   &::placeholder {
      color: $color-secondary-light;
   }
   &[type='datetime-local'],
   &[type='date']{
      color: $color-secondary-light;
   }
}
@mixin ImplicitInput {
   border: none;
   background-color: transparent;
   border-bottom: 1px solid transparent;
   &:focus {
      outline: none;
      border-bottom-color: $color-secondary-main;
      caret-color: $color-secondary-main;
      color: $color-primary-main;
   }
}
@mixin ImplicitTextArea {
   border: 1px solid transparent;
   resize: none;
   background-color: transparent;
   @include Caption-1-Regular;
   color: $color-primary-light;
   &:focus {
      outline: none;
      color: $color-primary-main;
      caret-color: $color-secondary-main;
      background-color: $color-white;
   }
}

// Avatars
@mixin AvatarEmpty ($size) {
   width: $size;
   height: $size;
   flex-shrink: 0;
   background-color: $color-secondary-light;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   @include Title-2-SemiBold;
   color: $color-white;
   text-transform: uppercase;
}
@mixin AvatarImg ($size) {
   width: $size;
   height: $size;
   border-radius: 50%;
   object-fit: cover;
}
