@import '../../styles/colors', '../../styles/mixins';

.form {
    background-color: $color-white;
    padding: 230px 200px 0px 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tabs {
    margin-bottom: 10px;

    &__link {
        display: inline-block;
        margin-right: 40px;
        @include Title-1-SemiBold;
        color: $color-secondary-light;
        text-decoration: none;

        &_active {
            color: $color-secondary-main;
        }

    }
}

.input {
    &__signin {
        width: 100%;

        &:nth-of-type(1) {
            margin-bottom: 10px;
        }

        &:nth-of-type(2) {
            margin-bottom: 25px;
        }
    }

    &__signup {
        margin-top: 25px;
        margin-bottom: 20px;

        &:nth-child(3) {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
}

.footer {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        color: $color-secondary-main;
        cursor: pointer;
        text-decoration: underline;
    }
}