@import '../../styles/colors', '../../styles/mixins';

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    @include mobile-sm {
        width: 100%;
        padding: 20px;
    }
    &__logo {
        @include mobile-show();
    }
}
.formWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 320px;
    @include mobile-xs {
        width: 100%;
        min-width: 0;
    }
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tabs {
    display: flex;
    margin-bottom: 15px;
    &__link {
        display: inline-block;
        @include Title-1-SemiBold;
        color: $color-secondary-light;
        text-decoration: none;

        &:nth-of-type(1) {
            margin-right: 40px;
        }
        &_active {
            color: $color-secondary-main;
        }
    }
    &_signup {
        margin-bottom: 35px;
        @include mobile-sm {
            margin-bottom: 15px;
        }
    }
}

.switch {
    margin-top: 25px;
    &_desktop {
        @include mobile-hide;
    }
    &_mobile {
        @include mobile-show(flex);
        margin-top: -5px;
        justify-content: flex-end;

    }
}

.input {
    width: 100%;
    &_signin {
        @include mobile-sm {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 15px;
            }
        }
    }
    &_signup {
        margin-bottom: 20px;
    }
    &_desktop {
        @include mobile-hide;
    }
    &_mobile {
        @include mobile-show;
    }
}

.footer {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile-sm {
        margin-top: 15px;
        flex-direction: column;
    }
    &__link {
        @include mobile-sm {
            margin-top: 15px;
            @include Caption-1-Regular;
        }
        color: $color-secondary-main;
        cursor: pointer;
        text-decoration: underline;
    }
    &_signup {
        margin-top: 39px;
        justify-content: center;
        @include mobile-sm {
            margin-top: 35px;
            padding-bottom: 35px;
        }
    }
}
