@import '../../styles/colors', '../../styles/mixins';

.menu {
  height: 40px;
  fill: $color-secondary-main;
  position: relative;
  cursor: pointer;
  &__mainBtn {
    @include IconLight(40px);
    outline: none;
    &_active {
      fill: $color-secondary-main;
      opacity: 1;
    }
  }
  &__body {
    @include BaseShadow;
    position: absolute;
    z-index: 200;
    overflow: hidden;
    right: 8px;
    border-radius: 10px;
    background: $color-white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: auto;
  }
  &__item {
    width: 100%;
    padding: 12px 32px;
    white-space: nowrap;
    @include Caption-1-SemiBold;
    color: $color-secondary-main;
    background: $color-white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__divider {
    opacity: 0.5;
    border: 1px solid $color-secondary-light;
    width: calc(100% - 22px);
  }
}
