@import '../../styles/colors', '../../styles/mixins';

.background {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
   background-color: change-color($color-primary-main, $alpha: 0.4);

   @include mobile-sm {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0 20px;
   }

}