@import '../../styles/_colors.scss', '../../styles/_mixins.scss';

.sidebar{
    height: 280px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar__link{ 
    height: 40px;
    width: 40px;
    display:block;
    cursor: pointer;
}

.sidebar__link svg { 
    fill: $color-secondary-light;
    // fill-opacity: 0;
    &:hover { 
        fill: $color-gray-1;
        @include IconLight(40); //EDIT FRAME for shadow
    }
}

.sidebar__link_active svg{
    fill: $color-secondary-main;
    // @include IconBright(40) 
    @include ButtonShadow
}
