@import '../../styles/colors', '../../styles/mixins';

.confirm {
    background: $color-white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 300;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    align-self: center;
    justify-self: center;

    &__content {
        margin-bottom: 15px;
    }

    &_deleteTravel {
        max-width: 520px;
    }

    &_leaveTravel {
        max-width: 520px;
    }

    &_deleteTraveler {
        max-width: 610px;
    }

    &_deleteTraveler {
        max-width: 610px;

    }

    &_deleteTraveler &__content {
        @include mobile-sm {
            margin-bottom: 8px;
        }
    }

    &_deleteCard {
        @include mobile-sm {
            margin-top: 81px;
            align-self: flex-start;
        }

        max-width: 470px;
    }


    @include mobile-sm {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 20px;
    }

    & h1 {
        @include Title-2-SemiBold;
        margin-bottom: 35px;

        @include mobile-sm {
            @include Text-Bold;
            margin-bottom: 8px;
        }
    }

    & p {
        @include Text-Regular;
        margin-bottom: 20px;

        @include mobile-sm {
            @include Caption-1-Regular;

            &:last-child {
                margin-bottom: 0;
            }
        }

        & span {
            @include Text-Bold;
            color: $color-error-dark;

            @include mobile-sm {
                @include Caption-1-SemiBold;
            }
        }
    }

    &__buttonBlock {
        display: flex;
        justify-content: flex-end;

        @include mobile-sm {
            justify-content: center;
        }

        & button {
            margin-left: 20px;

            @include mobile-sm {
                margin-left: 0px;
            }
        }

        & button:nth-child(1) {
            @include mobile-hide;
        }

        & button:nth-child(2) {
            opacity: 1;
            background-color: $color-error-dark;
        }
    }
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    @include Icon(20px);
    fill: $color-primary-main;

}