@import "../../styles/colors", "../../styles/mixins";

.form {
   background: $color-background-light;
   min-width: 775px;
   border-radius: 20px;
   padding: 25px 30px 30px 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 300;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   &__title {
      @include Title-2-SemiBold ;
      color: $color-secondary-main;
      margin-bottom: 35px;
   }
   &__inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
   }
   &__actions {
      margin-left: auto;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
   }
}

.icon__close {
   position: absolute;
   top: 25px;
   right: 25px;
   @include IconLight(30px);
   opacity: 0.5;
}

.input {
      &_title {
         width: 325px;
      }
      &_company {
         width: 345px;
      }
      &_beginPoint, &_endPoint {
         width: 440px;
      }
      &_beginDate, &_endDate {
         width: 230px;
      }
}
