@import "../../styles/colors", "../../styles/mixins";

.form {
   background: $color-background-light;
   min-width: 600px;
   border-radius: 20px;
   padding: 25px 30px 30px 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 300;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   &__title {
      @include Title-2-SemiBold ;
      color: $color-secondary-main;
      margin-bottom: 35px;
   }
}

.icon {
   position: absolute;
   @include IconLight(30px);
   &__close {
      @include IconLight(30px);
      top: 25px;
      right: 25px;
      opacity: 0.5;
   }
   &__search {
      width: 24px;
      top: 97px;
      right: 50px;
   }
}


.result {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
   padding: 0 20px;
   &__user {
      @include Subtitle-1-SemiBold;
   }
   &__button {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      @include Subtitle-1-Regular;
      color: $color-secondary-main;
   }
}

