@import "../../styles/colors", "../../styles/mixins";

.formContainer {
    @include mobile-sm {
        height: 100%;
        background: $color-background-light;
        padding: 20px;
    }
}
.mobileHeader {
    @include mobile-show(flex);
    position: relative;
    &__IconClose {
        @include IconLight(30px);
        opacity: 0.5;
        position: absolute;
    }
    &__title {
        width: 100%;
        text-align: center;
        @include Title-2-SemiBold;
        color: $color-secondary-main;
    }
}
.form {
    background: $color-background-light;
    border-radius: 20px;
    padding: 25px 30px 33px 30px;
    display: flex;
    width: 520px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mobile-xs {
        width: 100%;
        padding: 20px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        @include mobile-hide;
    }

    &__title {
        @include Title-2-SemiBold;
        color: $color-secondary-main;
    }

    &__caption {
        @include Text-Regular;
        color: $color-primary-main;
        margin-bottom: 30px;
        text-align: left;
        @include mobile-sm {
            text-align: center;
            @include Caption-1-Regular;
            color: color-primary-main;
        }
    }

    &__emailInput {
        margin-bottom: 50px;
    }

    &__actions {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        & button:nth-child(2) {
            margin-left: 20px;
        }
        @include mobile-sm {
            margin: 0px;
            justify-content: center;
            & button:nth-child(1) {
                @include mobile-hide;
            }
            & button:nth-child(2) {
                margin-left: 0px;
            }
        }
    }
}

.icon__close {
    @include IconLight(30px);
    opacity: 0.5;
}