@import "../../styles/colors", "../../styles/mixins";


.formContainer {
   @include mobile-sm {
       height: 100%;
       background: $color-background-light;
       padding: 20px;
   }
}

.mobileHeader {
   @include mobile-show(flex);
   align-items: center;
   &__IconClose {
       @include IconLight(30px);
       opacity: 0.5;
   }
   &__title {
       width: 100%;
       text-align: center;
       @include Title-2-SemiBold;
       color: $color-secondary-main;
   }
}

.form {
   background: $color-background-light;
   min-width: 600px;
   border-radius: 20px;
   padding: 25px 30px 30px 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 300;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   @include mobile-xs {
      min-width: 100%;
      padding: 20px;
   }
   &__title {
      @include Title-2-SemiBold ;
      color: $color-secondary-main;
      margin-bottom: 35px;
      @include mobile-hide;
   }
   &__inputs {
      display: flex; 
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 20px;
      &_column {
         flex-direction: column;
         width: 65%;
         margin-bottom: 0;
         @include mobile-xs {
            width: 100%;
         }
      }
      @include mobile-sm {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   &__avatarDesktop {
      @include mobile-hide;
   }
   &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      & span {
         @include Caption-1-Regular;
         color: $color-secondary-light;
         cursor: pointer;
         &:hover {
            color: $color-secondary-main;
            text-decoration: underline;
         }
         @include mobile-hide;
      }
   }
   &__actions {
      margin-left: auto;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      & button:nth-child(2) {
         margin-left: 20px;
      }
      @include mobile-sm {
         margin: 0px;
         justify-content: center;
         & button:nth-child(1) {
             @include mobile-hide;
         }
         & button:nth-child(2) {
             margin-left: 0px;
         }
     }
   }
}

.icon {
   &__close {
      @include IconLight(30px);
      position: absolute;
      top: 25px;
      right: 25px;
      opacity: 0.5;
      @include mobile-hide;
   }
   &__upload {
      width: 50px;
      fill: $color-white;
      &_edit {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

.avatar {
   cursor: pointer;
   @include AvatarEmpty(150px);
   & img {
      @include AvatarImg(150px);
   }
   &:hover &__hover {
      display: block;
   }
   &__hover {
      display: none;
      position: absolute;
      width: 130px;
      height: 130px;
      background-color: change-color($color-secondary-main, $alpha: 0.6);
      border-radius: 50%;
      @include mobile-sm {
         width: 40px;
         height: 40px;
      }
   }
   @include mobile-sm {
      @include AvatarEmpty(35px);
      & img {
         @include AvatarImg(35px);
      }
   }
}

.input {
      &__nickName  {
         margin-bottom: 20px;
      }
      &__name {
         width: 47%;
         @include mobile-sm {
            width: 65%;
            margin-bottom: 20px;
         }
         @include mobile-xs {
            width: 100%;
         }
      }
}

.logout {
   @include mobile-show(flex);
   justify-content: center;
   height: 30px;
   margin-top: 30px;
   cursor: pointer;
   &__container {
      display: flex;
      justify-content: center;
      width: 75px;
   }
   &__logoutText {
      display: flex;
      align-items: center;
      @include Caption-1-SemiBold;
      color: $color-error-dark;;
   }
   &__logoutIcon {
      width: 25px;
      fill: $color-error-dark;
   }
}