@import "../../styles/colors", "../../styles/mixins";

.form {
   background: $color-background-light;
   min-width: 600px;
   border-radius: 20px;
   padding: 25px 30px 30px 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 300;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   &__title {
      @include Title-2-SemiBold ;
      color: $color-secondary-main;
      margin-bottom: 35px;
   }
   &__inputs {
      display: flex; 
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 20px;
      &_column {
         flex-direction: column;
         width: 65%;
         margin-bottom: 0;
      }
   }
   &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      & span {
         @include Caption-1-Regular;
         color: $color-secondary-light;
         cursor: pointer;
         &:hover {
            color: $color-secondary-main;
            text-decoration: underline;
         }
      }
   }
   &__actions {
      margin-left: auto;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
   }
}

.icon {
   &__close {
      @include IconLight(30px);
      position: absolute;
      top: 25px;
      right: 25px;
      opacity: 0.5;
   }
   &__upload {
      width: 50px;
      fill: $color-white;
      &_edit {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

.avatar {
   cursor: pointer;
   @include AvatarEmpty(150px);
   & img {
      @include AvatarImg(150px);
   }
   &:hover &__hover {
      display: block;
   }
   &__hover {
      display: none;
      position: absolute;
      width: 130px;
      height: 130px;
      background-color: change-color($color-secondary-main, $alpha: 0.6);
      border-radius: 50%;
   }
}

.input {
      &__nickName  {
         margin-bottom: 20px;
      }
      &__name {
         width: 47%;
      }
}
