@import '../../styles/colors', '../../styles/mixins';

.card {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   position: relative;
   padding: 25px;
   &__header {
      min-height: 56px;
      margin-bottom: 70px;
   }
   &__title {
      margin-bottom: 6px;
      @include Title-2-SemiBold ;
      color: $color-primary-main;
   }
   &__company {
      @include Subtitle-1-Regular;
      color: $color-primary-main;
   }
   &__badges {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 17px;
      right: 15px;
   }
   &__route {
      display: flex;
   }
   &__travelers {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
   }
   &_archiveCard{
      opacity: 0.5;
   }
}

.badges {
   &__icon {
      width: 40px;
      opacity: 0.5;
      fill: $color-secondary-light;
      &_active {
         fill: $color-success-main ;
         opacity: 1;
      }
   }
}

.schema {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 6px 10px 28px 0;
   &__point {
      width: 10px;
      height: 10px;
      background-color: $color-secondary-light ;
      border-radius: 50%;
      &_currentDate {
         background-color: $color-success-main;
      }
   }
   &__path {
      width: 1px;
      height: 77%;
      flex: 1;
      background-color: $color-secondary-light;
      &_currentDate {
         background-color: $color-success-main;
      }
   }
}

.route {
   &__start {
      margin-bottom: 34px;
   }
   &__place {
      min-height: 20px;
      display: block;
      margin-bottom: 6px;
      @include Subtitle-1-Regular;
      color: $color-primary-main;
   }
   &__date {
      display: block;
      min-height: 20px;
      @include Caption-1-Regular;
      color: $color-primary-light;
      &_currentDate {
         @include Caption-1-SemiBold;
         color: $color-success-main;
      }
      &_dateBeyondTravel {
         color: $color-warning-main;
      }
   }
}

.travelers__avatar {
   @include AvatarEmpty(40px);
   margin-right: -5px;
   & img {
      @include AvatarImg(40px);
   }
}
.defaultCaptions {
   color: $color-primary-main;
   opacity: 0.3;
   font-weight: 400;
 }