@import '../../styles/colors', '../../styles/mixins';

.card {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   position: relative;
   &__header {
      height: 56px;
      margin-bottom: 70px;
   }
   &__title {
      margin-bottom: 6px;
      @include Title-2-SemiBold ;
      color: $color-primary-main;
   }
   &__company {
      @include Subtitle-1-Regular;
      color: $color-primary-main;
   }
   &__badges {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -8px;
      right: -10px;
   }
   &__route {
      display: flex;
   }
   &__travelers {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
   }
}

.badges {
   &__icon {
      width: 40px;
      fill: $color-gray-5;
      &_active {
         fill: $color-success-main ;
      }
   }
}

.schema {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 6px 10px 28px 0;
   &__point {
      width: 10px;
      height: 10px;
      background-color: $color-secondary-light ;
      border-radius: 50%;
      &_currentDate {
         background-color: $color-success-main;
      }
   }
   &__path {
      width: 1px;
      height: 77%;
      flex: 1;
      background-color: $color-secondary-light;
      &_currentDate {
         background-color: $color-success-main;
      }
   }
}

.route {
   &__start {
      margin-bottom: 34px;
   }
   &__place {
      display: block;
      margin-bottom: 6px;
      @include Subtitle-1-Regular;
      color: $color-primary-main;
   }
   &__date {
      @include Caption-1-SemiBold;
      color: $color-primary-light;
      &_currentDate {
         color: $color-success-main;
      }
   }
}

.travelers__avatar {
   width: 45px;
   height: 45px;
   background-color: $color-background-light;
   border-radius: 50%;
   margin-right: -10px;
   display: flex;
   justify-content: center;
   align-items: center;
   @include Title-2-SemiBold ;
   color:$color-secondary-light;
   & img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
   }
}