@import '../../styles/colors', '../../styles/mixins';

.card { 
   width: 1200px;
   height: 700px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 200;
   padding: 30px;
   border-radius: 20px;
   background-color: $color-background-light;
   &__header {
      width: 100%;
      position: relative;
      margin-bottom: 45px;
   }
   &__breadcrumbs {
      @include Subtitle-1-Regular;
      & strong {
         @include Subtitle-1-SemiBold;
      }
   }

   &__leftSide {
      height: 90%;
      width: 51%;
      display: flex;
      flex-wrap: wrap;
      align-content: baseline;
      border-right: 1px solid $color-gray-5;
      margin-right: 30px;
   }
   &__companyName {
      width: 100%;
      @include Title-2-SemiBold;
      color: $color-secondary-main;
      margin-bottom: 20px;
   }
   &__route {
      width: 62%;
      height: fit-content;
      max-height: 330px;
      display: flex;
      flex-wrap: wrap;
      align-content: baseline;
   }
   &__docs {
      height: fit-content;
      max-height: 330px;
      display: flex;
      flex-direction: column;
   }
   &__comments {
      width: 100%;
      textarea {
         @include ImplicitTextArea;
         width: 95%;
         height: 200px;
      }
   }

   &__rightSide {
      height: 90%;
      width: 46%;
      display: flex;
      flex-wrap: wrap;
   }
   &__travelers {
      width: 72%;
      height: 504px;
   }
   &__cost {
      width: 28%;
      height: 504px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &_general {
         @include Title-2-SemiBold;
         color: $color-secondary-main;
         text-align: right;
         margin-bottom: 30px;
         & input {
            @include Title-2-SemiBold;
            @include ImplicitInput;
            color: $color-secondary-main;
            text-align: right;
            max-width: 110px;
         }
      }
      &_personal {
         @include Text-Regular;
         color: $color-primary-main;
         text-align: right;
         height: 40px;
         margin-bottom: 10px;
      }
      &_myCoast {
         @include Text-Bold
      }
      &_myCoastPayed {
         color: $color-success-main;
      }
   }
   &__actions {
      margin: 30px 0 0 auto;
      display: flex;
      justify-content: space-between;
   }
}

.icons {
   @include IconLight(24px);
   &__close {
      width: 30px;
      position: absolute;
      top: -10px;
      right: -10px;
   }
   &__delete {
      width: 20px;
      margin-left: 4px;
   }
}

.section__title {
   width: 100%;
   display: flex;
   margin-bottom: 20px;
}
h2 {
   @include Subtitle-1-Regular;
   color: $color-secondary-light;
   margin-right: 6px;
}

.schema {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 8px 10px 70px 20px;
   &__point {
      width: 10px;
      height: 10px;
      background-color: $color-secondary-light ;
      border-radius: 50%;
      &_earlierDate {
         background-color: $color-secondary-light;
      }
      &_currentDate {
         background-color: $color-success-main;
      }
   }
   &__path {
      width: 1px;
      height: 77%;
      flex: 1;
      background-color: $color-secondary-light;
      &_currentDate {
         background-color: $color-success-main;
      }
   }
}

.route {
   &__start {
      margin-bottom: 100px;
   }
   &__finish {
      margin-bottom: 40px;
   }
   &__place {
      display: block;
      margin-bottom: 6px;
      @include Subtitle-1-SemiBold;
      color: $color-primary-main;
   }
   &__date {
      @include Text-Regular;
      color: $color-primary-main;
      &_currentDate {
         color: $color-success-main;
      }
   }
}

.docs {
   &__file {
      max-width: 200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
   }
   &__link {
      max-width: 172px;
      overflow: hidden;   
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $color-secondary-main;
   }
}

.travelers {
   &__columns {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
   }
   &__columnTitle {
      width: 70px;
      margin-right: 14px;
      @include Caption-1-Regular;
      line-height: 14px;
      color: $color-secondary-light;
      text-align: center;
   }
   &__person {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
   }
   &__avatar {
      @include AvatarEmpty(40px);
      margin-right: 15px;
      & img {
         @include AvatarImg(40px);
      }
   }
   &__name {
      width: 160px;
      @include Caption-1-Regular;
      color: $color-primary-main;
      margin-right: 15px;
      overflow: hidden;   
      text-overflow: ellipsis;
      white-space: nowrap;
      &_itsMe {
         @include Caption-1-SemiBold
      }
   }
   &__switch {
      width: 50px;
      margin: 20px;
   }
}

.hidden {
   visibility: hidden;
}
.displayNone {
   display: none;
}