@import '../../styles/colors', '../../styles/mixins';

a {
   text-decoration: none;
}

.card {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: flex-end;
   position: relative;
   padding: 30px;
   &__status {
      color: $color-secondary-light;
   }
   &__title {
      @include Title-1-SemiBold;
      color: $color-primary-main;
      margin-bottom: 10px;
   }
   &__dates {
      margin-bottom: 25px;
   }
   &__travelers {
      display: flex;
      flex-wrap: wrap;
      height: 100px;
   }
   &_archiveCard{
      opacity: 0.5;
   }
}

.date {
   @include Subtitle-1-Regular;
   color: $color-primary-light;
}

.avatar {
   @include AvatarEmpty(45px);
   margin-right: 5px;
   margin-top: 5px;
   & img {
      @include AvatarImg(45px);
   }
}