@import '../../styles/colors', '../../styles/mixins';

a {
   text-decoration: none;
}

.card {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: flex-end;
   position: relative;
   padding: 30px;
   @include mobile-sm {
      padding: 16px;
   }
   &__status {
      color: $color-secondary-light;
   }
   &__title {
      @include Title-1-SemiBold;
      color: $color-primary-main;
      margin-bottom: 10px;
      word-break: break-all;
      @include limitTheNumberOfLinesTo-3;
      @include mobile-sm {
         margin-bottom: 16px;
         @include Text-Bold;
      }
   }
   &__dates {
      margin-bottom: 25px;
      @include mobile-sm {
         margin-bottom: 8px;
      }
   }
   &__travelers {
      display: flex;
      flex-wrap: wrap;
      height: 100px;
      @include mobile-sm {
         height: auto;
      }
   }
   &_archiveCard{
      opacity: 0.5;
   }
}

.date {
   @include Subtitle-1-Regular;
   color: $color-primary-light;
   @include mobile-sm {
      @include Caption-1-Regular;
   }
}

.avatar {
   @include AvatarEmpty(45px);
   margin-right: 5px;
   margin-top: 5px;
   & img {
      @include AvatarImg(45px);
   }
   @include mobile-sm {
      @include AvatarEmpty(24px);
      @include Text-Bold;
      margin: 8px 8px 0 0;
      & img {
         @include AvatarImg(24px);
      }
   }
}
