@import '../../styles/colors', '../../styles/mixins';

$width: 1440px;

.container {
    height: 100vh;
    max-width: $width;
    margin: 0px auto;
    position: relative;
}
.header {
    height: 85px;
    width: 100%;
}
.board {
    width: 100%;
    height: calc(100vh - 175px);
}
.side-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 280px;
    width: 120px;
}
.footer {
    height: 90px;
    width: 100%;
}