@import '../../styles/colors', '../../styles/mixins';

$width: 1440px;

.travelPage {
    background-color: #F8FCFF; //$color-background-light
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__boardWrap {
        flex: 1;
        overflow: scroll;
    }
    &__footerWrap {
        flex-shrink: 0;
    }
    &__sidebarWrap {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 100;
    }
}
