@import '../../styles/_colors.scss', '../../styles/_mixins.scss';

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    &__switch {
        padding-left: 80px;
        display: inline-flex;
    }
    &__rightSide {
        display: flex;
        justify-content: space-between;
    }
    &__paymentInfo {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }
    &__toPay,
    &__paid,
    &__totalBudget {
        text-align: right;
    }
    &__totalBudget {
        margin-left: 50px;
    }
    &__toPay {
        margin-left: 30px;
    }
    &__description {
        &_large {
            color: $color-secondary-main;
            @include Title-1-SemiBold;
        }
        &_medium {
            color: $color-primary-light;
            @include Subtitle-1-Regular;
        }
        &_small {
            @include Caption-1-Regular;
            color: $color-secondary-light;
        }
    }
    &__settingsBtn {
        @include IconLight(40px);
        margin-left: 55px;
    }
    &__feedback {
        position: absolute;
        z-index: 10;
        background-color: $color-secondary-main;
        padding: 14px 18px;
        @include BaseShadow;
        border-radius: 10px;
        bottom: 90px;
        right: 40px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity;
        transition-duration: 0.5s;
        &_show {
            opacity: 1;
            visibility: visible;
        }
    }

    &__text{
        & span {
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__text, &__text span{
        @include Text-Regular;
        color: $color-white;
    }
}