@import '../../styles/_colors.scss', '../../styles/_mixins.scss';

.footer{
    min-height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    &__links{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        color: $color-secondary-main;
        cursor: pointer;
        text-decoration: underline;
        margin-right: 40px;
    }
}

