@import '../../styles/colors', '../../styles/mixins', '../../styles/media';

.page {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;

    &__slider {
        background-color: $color-background-light;
        padding: 34px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        @include mobile-hide();
    }
    &__content {
        background: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__logo {
        width: 170px;
        background: transparent;
        vertical-align: top;
        margin-bottom: 106px;

    }
}
