@import '../../styles/colors', '../../styles/mixins';

.page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;

    &__slider {
        background-color: $color-background-light;
        padding: 34px 50px 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
    }

    &__logo {
        width: 170px;
        background: transparent;
        vertical-align: top;
        margin-bottom: 106px;

    }
}