@import 'styles/fonts', 'styles/colors', 'styles/mixins';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   @include Text-Regular;
   color: $color-primary-main;
}

body {
   height: var(--app-height);
}

html {
   min-height: var(--app-height);
}

#root {
   height: 100%;
}

a {
   text-decoration: none;
   &:hover {
      color: $color-secondary-main;
   }
}
