@import '../../styles/colors';
@import '../../styles/mixins';

@mixin clickableSvg {// TODO Move to styles/mixins
  cursor: pointer;
    fill: $color-gray-4;
  &:hover {
      fill: $color-gray-1;
  }
}

.header {
  height: 85px;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.back-btn {
  width: 30px;
  height: 30px;
  @include clickableSvg;
}
.trip-data {
  @include Subtitle-1-Regular;
  color: $color-gray-2;
  flex: 1 1 auto;
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 40px;
  }
  &__title {
    display: flex;
  }
  &__period {
    display: flex;
  }
  &__edit-btn {
    width: 24px;
    height: 24px;
    @include clickableSvg;
    margin: 0px 0px 0px 12px;
  }
}
.travellers {
  display: flex;
}
.travellers-item {
  width: 45px;
  height: 45px;
  background: $color-gray-6;
  border: 1px solid $color-gray-5;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -12px 0px 0px;
}
.user-profile {
  width: 45px;
  height: 45px;
  margin: 0 0 0 100px;
  @include clickableSvg;
  fill: $color-gray-5;
}
