@import '../../styles/colors', '../../styles/mixins';

.header {
  padding: 20px 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mobile-sm {
    margin-bottom: 15px;
    padding: 0;
  }
}

.user {
  &__name {
    @include Subtitle-1-Regular;
    color: $color-primary-light;
    margin-right: 34px;
    @include mobile-hide;
  }
  &__avatar {
    @include AvatarEmpty(45px);
    margin-right: 40px;
    cursor: pointer;
    @include mobile-sm {
      @include AvatarEmpty(35px);
      margin-right: 0;
    }
    & img {
      @include AvatarImg(45px);
      border: 5px solid $color-primary-light;
      @include mobile-sm {
        @include AvatarImg(35px);
      }
    }
  }
}

.icons {
  @include IconBright(40px);
  @include mobile-hide;
}
