@import '../../styles/colors', '../../styles/mixins';

.userPage {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-background-light;
    @include mobile-sm {
        padding: 13px 20px 20px;
    }
}
