@import '../../styles/colors';

.userPage {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-background-light;
}
