@import '../../styles/colors', '../../styles/mixins';

.switch__label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.switch__labelText {
  margin-left: 8px;
  @include Subtitle-1-Regular;
  color: $color-secondary-light;
  &_mobile {
    @include Caption-1-Regular;
  }
}

.switch__toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: $color-secondary-light;
  overflow: hidden;
}

.switch__toggleInner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.switch__activeBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background:  $color-secondary-main;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
  &_colored {
    background: $color-success-main;
  }
}


.switch__toggleState {
  display: none;
}

.switch__indicator {
  height: 100%;
  width: 200%;
  background: $color-white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.switch__toggleState:checked ~ .switch__activeBg {
   transform: translate3d(-50%, 0, 0);
}

.switch__toggleState:checked ~ .switch__toggleInner .switch__indicator {
   transform: translate3d(25%, 0, 0);
}

.switch__toggleState:checked ~ .switch__checkboxIndicator {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.switch {
  &__checkbox {
    border: 1px solid $color-secondary-light;
    box-sizing: border-box;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    padding-top: 7px;
    padding-left: 7px;
    margin-left: 14px;
    margin-right: 2px;
  }
  &__checkboxIndicator {
    opacity: 0;
    width: 9px;
    height: 7px;
    border-left: 2px solid $color-secondary-main;
    border-bottom: 2px solid $color-secondary-main;
    transform: rotate(-53deg);
    transition: 0.1s all ease-in-out;
  }
}
