@import '../../styles/colors', '../../styles/mixins';

.board {
   padding: 45px 0 10px 0;
   display: flex;
   flex: 1;
   flex-direction: column;
   @include mobile-sm {
      padding: 0;
   }

   &__controlPanel {
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 120px;
      @include mobile-sm {
         padding: 0;
         margin-bottom: 15px;
         height: 40px;
      }
   }

   &__newBtn {
      @include mobile-hide;
      &_mobile {
         @include mobile-show();
         position: fixed;
         bottom: 20px;
         z-index: 50;
         right: 20px;
      }
   }
   &__archiveBtn {
      @include mobile-show();
   }

   &__tabsLink {
      display: inline-block;
      margin-right: 40px;
      @include Title-1-SemiBold;
      color: $color-secondary-light;
      text-decoration: none;
      @include mobile-hide;

      &_active {
         color: $color-secondary-main;
      }
      &_mobile {
         @include mobile-show(inline-block);
         margin-right: 20px;
         @include Subtitle-1-SemiBold;
      }
   }

   &__card {
      cursor: pointer;

      &_add {
         border: none;
         outline: none;
         cursor: pointer;

         svg {
            width: 45px;
            fill: $color-secondary-light;
            opacity: 0.3;
         }

      }
      &s {
         flex: 1;
         @include mobile-hide;
         &_mobile {
            margin: 0 -20px;
            @include mobile-show();
         }
      }
   }

   &__main {
      padding: 216px 120px 0px 120px;
      text-align: center;
   }

   &__text{
      color: $color-primary-light;
      & span {
         color: $color-secondary-main;
         cursor: pointer;
         text-decoration: underline;
      }
   }
   &__text, &__text span{
      @include Subtitle-1-Regular;
   }
}
