@import '../../styles/colors', '../../styles/mixins';

.swiper-container {
   width: 100%;
   height: 100%;
   padding: 30px 0;
   flex: 1 0;
   @include mobile-sm {
      padding: 0;
   }
}

.swiper-slide {
   width: 383px;
   height: auto;
   min-height: 400px;
   max-height: 570px;
   background-color: $color-white;
   @include BaseShadow;
   @include mobile-sm {
      width: 200px;
      min-height: 400px;
   }
   @include mobile-xs {
      width: 200px;
      min-height: 300px;
   }
   border-radius: 20px;
   &:last-child {
      @include LightShadow;
   }
   &:hover {
      @include BaseShadowHover;
   }
}

.swiper-button-prev,
.swiper-button-next {
   position: absolute;
   top: 50%;
   width: 40px;
   height: 40px;
   z-index: 10;
   cursor: pointer;
   background-size: 22px 40px;
   background-position: center;
   background-repeat: no-repeat;
   @include mobile-hide;
}

.swiper-button-disabled,
.swiper-button-disabled {
   display: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
   @include IconBright(23px);
   mask-image: url('../../assets/images/icons/left.svg'); 
   background-color: $color-secondary-main;
   left: 35px;
   right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
   @include IconBright(23px);
   mask-image: url('../../assets/images/icons/right.svg');
   background-color: $color-secondary-main;
   right: 35px;
   left: auto;
}
