@import '../../styles/colors', '../../styles/mixins';

.button {
   width: fit-content;
   padding: 9px 35px;
   border-radius: 10px;
   border: 1px solid transparent;
   @include Subtitle-1-SemiBold;
   color: $color-white;
   background-color: $color-secondary-main;
   cursor: pointer;
   &:focus {
      outline: none;
   }
   &:hover {
      @include BaseShadowHover;
   }
   &_cancel {
      background-color: $color-secondary-light;
      opacity: 0.4;
      &:hover {
         opacity: 0.8;
      }
   }
   &_delete {
      background-color: $color-secondary-light;
      opacity: 0.4;
      &:hover {
         opacity: 1;
         background-color: $color-error-dark;
      }
   }
   &_action {
      padding: 9px 17px;
      @include ButtonShadow;
      &:hover {
         box-shadow: none;
      }
   }
   &_disabled {
      opacity: 0.4;
      cursor: not-allowed;
   }
}