@import '../../styles/colors', '../../styles/mixins';

.button {
   width: fit-content;
   padding: 9px 40px;
   border-radius: 10px;
   background-color: $color-gray-1;
   box-shadow: 1px 1px 20px change-color($color-gray-1, $alpha: 0.15);
   @include Body1;
   color: $color-white;
   cursor: pointer;
   &:focus {
      outline: none;
   }
   &_small {
      padding: 9px 17px;
   }
   &_cancel {
      background-color: $color-gray-4;
      box-shadow: none;
   }
}