@import '../../styles/colors', '../../styles/mixins';

.picker {
   z-index: 400;
   width: fit-content;
   max-width: 395px;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   border-radius: 10px;
   background-color: $color-background-light;
   @include BaseShadow;
   &__notification {
      text-align: center;
      margin: 5px;
      @include Caption-1-Regular
   }
}

.user {
   width: 63px;
   margin: 10px 24px 10px 10px;
   display: flex;
   flex-direction: column;
   &:nth-child(4n){
      margin-right: 10px;
   }
   &__avatar {
      @include AvatarEmpty(45px);
      margin: 0 auto;
      position: relative;
      & img {
         @include AvatarImg(45px);
         border-radius: 50%;
      }
   }
   &__name {
      @include Caption-1-Regular;
      color: $color-primary-main;
      margin-top: 8px;
      text-align: center;
      overflow: hidden;   
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}

.icons {
   position: absolute;
   top: 24px;
   left: 24px;
   width: 20px;
   cursor: pointer;
   border-radius: 50%;
   fill: $color-white;
   &__delete {
      background-color: $color-error-dark;
   }
   &__add {
      background-color: $color-secondary-main;
   }
}