@import '../../styles/colors', '../../styles/mixins';

.headerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle__input{
    @include Subtitle-1-Regular;
    color: $color-primary-main;
    outline: none;
    border:none;
    border-bottom: 2px solid $color-background-light;
    background-color: $color-background-light;
    &:focus{
        border-bottom: 2px solid;
    }
}

.headerTitle__value{
    @include Subtitle-1-Regular;
    color: $color-gray-2;
    max-width: 320px;
    overflow: hidden;
    margin-right: 10px;
}

.headerTitle__BtnCansel,
.headerTitle__BtnOk{
    width: 20px;
    height: 20px;
    border: none;
    background-color: $color-white;
    & svg{
        border: none;
    }
}

.headerTitle__editIcon{
    @include IconLight(24px);
    margin-left: 5px;
    cursor: pointer;
}
