@import '../../styles/colors', '../../styles/mixins';

.headerTitle_DefauitView,
.headerTitle_EditView{
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle_DefauitView{
    border-bottom-color: $color-white;
}

.headerTitle__input{
    @include Body2;
    color: $color-gray-2;
    outline: none;
    border:none;
    width: 320px;
    & :focus{
        border:none;
    }
}

.headerTitle__value{
    @include Body2;
    color: $color-gray-2;
    max-width: 320px;
    overflow: hidden;
}

.headerTitle__BtnCansel,
.headerTitle__BtnOk{
    width: 20px;
    height: 20px;
    border: none;
    background-color: $color-white;
    & svg{
        border: none;
    }
}

.headerTitle__editIcon{
    fill: $color-gray-4;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
